@import "bootstrap/mixins";

h2 {
  font-size: 24px;
  font-weight: normal;
}

label {
  font-weight: bold;
}

ul.posts-list {
  margin: 0;

  li.media {
    list-style: none;
    @include box-sizing(border-box);

    @include border-radius(5px);

    background-color: white;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    //display: inline-block;
    min-height: 100px;
    line-height: 30px;
    padding: 10px 20px;
    overflow: hidden;

    &:hover {
      @include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
      background-color: #FFC;
      border-bottom-width: 4px;
      border-color: #a7a369;
      cursor: pointer;
    }

    .media-heading {
      font-weight: bold;
    }

    .media {
      margin-bottom: 15px;
      font-size: 15px;
    }

    .fa-x {
      font-size: 20px;
    }
    .btn-group {
      margin-right: 10px;
      vertical-align: middle;

      .btn-text {
        padding: 2px 3px;
        font-weight: bold;
        vertical-align: 9%;
      }
    }
  }

}


.post-check-container {
  @include box-sizing(border-box);
  @include border-radius(5px);
  background-color: #FFC;
  border: 1px solid #a7a369;
  border-bottom-width: 4px;
  line-height: 30px;
  min-height: 200px;
  padding: 10px 20px;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 15px;
}

.btn-container {
  display: block;
  text-align: center;
  margin: 0;
}

ul.btn-group li {
  margin: 0 10px 10px;
  display: inline-block;

  .btn {
    p.btn-text {
      margin: 0;
    }
  }

}

.media {
  .avatar {
    width: 60px;
    height: 60px;
  }

  .username {
    //display: block;
    font-weight: bold;
  }

  time {
    margin-left: 1em;
    font-size: 80%;
  }

  .media {
    margin-top: 5px;
  }
}

